footer  { 
    background-color: #000000;
    padding: 3rem;
    color: #CCC8C8;
    margin-top: 0px;
    margin-bottom: 0px;

    section p { 
        float: right;
        font-size: 1.7em;
        font-family: 'Gloria Hallelujah', cursive;
    }

    a { 
        margin: 0;
        font-size: 1.5em;
        text-decoration: none;
        color: white;
        font-family: 'Gloria Hallelujah', cursive;
     }
}


