
/*Empieza el header*/

header{
    background-color: black;

    .container{
        max-width: 100vh;
        margin: 0 auto;
    }

    .navbar{
        @include flex (space-between,none);

        .navbar__titulo {
            display: inline-block;
            font-size: 3.5em;
            padding-left: 0rem;
            margin: 30px;
            font-family:'Libre Baskerville', serif;;
            color: white;
            transition-property: color;
            transition-duration:3s ;
            transition-timing-function: ease ;
            transition-delay: 0s ;

            &:hover{
                color: red; 
                cursor: pointer;
            }  
        }
        .menu {
            display: inline-block;
            @include flex(none,center);

            .menu__item {
                display: inline-block;
                padding: 5px;
            }

            .menu__link {
                color: #CCC8C8;
                text-decoration: none;
                font-size:1.5em;
                padding-right: 7rem;
                margin: 5px;
                font-family: 'Gloria Hallelujah', cursive;
                transition-property: color;
                transition-duration:1s ;
                transition-timing-function: ease ;
                transition-delay: 0s ;

                &:hover{
                    color: red; 
                    cursor: pointer;
                }
            }
        }
    }
}


