/*EMPIEZA PAGINA 4*/

.background4{
    background-image: url(https://i.pinimg.com/originals/b4/d5/59/b4d5590accfc949b67fe3741c335cc98.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*grid*/

.container-img{
    width: 100%;
    max-width: 3500px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,700px);
    grid-gap: 3rem;
}

.container-img .box-img figure{
    width: 100%;
    height: 100%;
}

.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(9){
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(13){
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(16){
    grid-column-start: span 2;
}




